html {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  padding: 0;
}

.container {
  margin-top: 2%;
}

.nonintro-footer {
  width: 100%;
  min-height: 30px;
  background-color: black;
  /*weird margins fix from grid.scss */
  margin-right: 0px; 
  margin-left: 0px
}

.bg-dark {
  background-color: white !important;
}

.granite-red {
  background-color: #75002f;
}

.red-hover :hover {
  background-color: #75012E;
}


hr {
  color: #75012E;
  border: 2px solid #75012E;
  margin: auto;
}


.row {
  margin-top: 15px;
}

.title-font {
  font-family: 'Abril Fatface', cursive !important;
  color: #d09412
}

.nav-link {
  font-size: 1.1em;
  color: #d09412 !important;
}

.nav-link:hover {
  color: white !important;
}

.fit-logo-icon {
  border-radius: 50%;
  height: 100%;
}



.nav-link img:hover {
  cursor: pointer;
}

/* Navigation bar <ul> alignment */
.margin-right {
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .margin-right {
    margin-right: 0%;
  }
}

/* Navigation bar <ul> alignment */

/* #bio_jumbotron {
  background: url('./resources/main.JPG') no-repeat center center fixed;
  background-size: cover !important;
} */


#slogan {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0,0,0, 0.2); /* Adds a subtle shadow */
  letter-spacing: 1px;
}
.jumbotron {
  height: 30em;
}

.navbar {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.fab {
  color: #d09412;
}

.text-gold {
  color: #d09412;
}

.active {
  color: #fac95f !important;

}

.btn-danger {
  color: #fff;
  background-color: #75002f !important;
  border-color: #75002f;
  /*set the color you want here*/
  /* box-shadow: 1px #530122 !important; */
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #530122 !important;
  border-color: #530122 !important;
  /*set the color you want here*/
}


.btn-gold {
  color: black;
  background-color: #d09412 !important;
  border-color: #c58a14;
  /*set the color you want here*/
  /* box-shadow: 1px #530122 !important; */
}

.btn-gold:hover,
.btn-gold:focus,
.btn-gold:active,
.btn-gold.active,
.open>.dropdown-toggle.btn-gold {
  color: black;
  background-color: #e2a31a !important;
  border-color: #c58a14 !important;
  /*set the color you want here*/
}






.bg-image {
  margin-top: 8vh;
  background-position: 0px -30vh;
}

#multimedia-bg-img {
  background-position: 0px 0vh;
}



@media screen and (max-width: 450px) {
  /* .bg-image {
    margin-top: 0vh;  
    background-position: 0px  -50px; 
  } */

  #multimedia-bg-img {
    background-position: 0px 5vh;
  }

  /* #bio-bg-img {
    background-position: 0px 5vh ;
  } */
}